<div class="search">
  <%= form_tag path_for_search, :method => 'get', class: "form-inline" do %>
    <%= search_field_tag :search, params[:search], class: "form-control", placeholder: placeholder, maxlength: 255 %>
    <%= submit_tag "Search", class: "btn btn-default" %>
    <% if params[:search].present? %>
      <%= link_to "Reset", users_path, class: "btn btn-default", role: "button" %>
    <% end %>
  <% end %>
</div>
